.Projects{

  /* background-color: #191414; */
  background-image: linear-gradient(to left, #b62323, #131212 );   

  /* border: 3pt solid red; */
  padding: 3%;

  border-radius: 3%;
  height: 87vh;

  width: auto;
}

.card-stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: auto;
    
    /* margin-left: -5%; */
    
  }
  
  .card {
    flex: 0 0 calc(33.333% - 2rem); /* Adjust the percentage as needed */
    margin-bottom: 2rem; /* Adjust margin between cards */
  }
  
  @media (max-width: 768px) {

    .Projects{
      height: auto;
    }

    .card-stack {
      display: grid;
      width: auto;
      grid-template-columns: repeat(auto, 1fr); /* Three columns */
      grid-template-rows: repeat(auto, auto); /* Two rows */
      gap: 20px; /* Gap between grid items */
      justify-content: center; /* Center items horizontally */
      align-items: center; /* Center items vertically */
      padding: 0; /* Remove padding */
    }
  }
  