

.backDrop{

    width: auto;
    display: flex;
    /* position: absolute;
    left: 0;
    right: 0;
    top: 0; */
    height: auto;
    border-radius: 3%;

    /* border: 3pt solid red; */
    padding: 4%;
    
/*     
    background-image: url('../../assets/homeBg3.jpg'); */
 
    /* background-color: #097978;     */
 
    background-image: linear-gradient(to left, #0fb48b, #070707 );   


    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.logo{
    border-radius: 50%;
    height: 10%;
    width: 27%;
}

/* .navbar{
    display: flex;

    flex-direction: row;

    justify-content: space-evenly;
} */


.profile img {
    /* height: 300px;
    width: 500px; */
    border-radius: 5%;
    box-shadow: 5px 5px 5px inherit;
    
    filter: brightness(0.5) saturate(0%);
    transition: filter 0.3s, transform 0.9s;
}

.profile img:hover {
    filter: brightness(1) saturate(100%);
    transform: scale(1.1);
}




.bubblegum-sans-regular {
    font-family: "Bubblegum Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(228, 143, 32);
    font-size: 1.7rem;
  }

  .dosis-paraText {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    color: aquamarine;
    font-style: normal;
    font-size: 1.7rem;
}