  /* w-full md:w-4/5 lg:w-3/4 xl:w-5/6 h-96 */
  .map-box{
    
    width: 700px;
    height: 370px;
    
    /* border: 3pt solid red; */
    
    margin-left: 5%;
    margin-bottom: 300px;
    
  }

/*  
  w-full lg:w-3/4 px-4 lg:p-7 lg:h-96 rounded-lg shadow-2xl bg-white rounded-lg shadow-2xl bg-white */

  /* .main-box{
    border: 3pt solid black;
    width: 100%;
    
    margin-top: 5%;
  }  */