  /* w-full md:w-4/5 lg:w-3/4 xl:w-5/6 h-96 */
  .map-box{
    
    width: auto;
    height: 370px;
    
    /* border: 3pt solid red; */
    
    margin-left: 5%;
    margin-bottom: 300px;
  }

  @media (max-width: 661px) {
    .map-box {
        margin-left: 5%;
        height: auto;
        width: auto;
    }
  
    .map-box .main-map{
      width: auto;
      height: auto;
    }
  }