

.card{
    width: 10vh;
    height: 30vh;
    
    padding: 10px;
    transition: transform 0.6s ease, background-color 0.9s ease; 
    box-shadow: 5px 10px  #9a9e9c;
}


.card:hover{
    
  transform: scale(1.27);
  /* background-color: rgb(230, 8, 238); */
  background-image: linear-gradient(rgb(243, 240, 231), #1DB954);
  
}
.card img{

    height: 20vh;


}

.cardButton{
    transition: transform 0.6s ease, background-color 0.9s ease; 
}

.cardButton:hover{
    
    transform: scale(1.27);
    background-color: rgb(198, 196, 212);
  }