.Navbar{

    margin-top: 5px;
    background-color: inherit;
/* 
    background-image: linear-gradient(to left, #18ee5f, #191414 );    */


    box-shadow: 0 3px 3px rgba(231, 153, 6, 0.61); /* Add a shadow */
  border-radius: 20px; /* Add border-radius for rounded corners */
  /* transform: perspective(100px) rotateX(2deg);  */
  /* overflow: hidden; */

  height: 80px;
}

.List{
    background-color: inherit;
}


#navbar-multi-level{
    background-color: inherit;
}
.navbar-link{
    color: white;
    transition: filter 0.3s, transform 0.3s;
    
}

.navbar-link:hover{
    transform: scale(1.1);
}



